node_modules
.next
.git
.gitignore
.github
.env
.env.*
!.env.example
/data
.oneflow-email-settings.json
npm-debug.log
yarn-error.log
pnpm-debug.log
coverage
.DS_Store
*.log
tsc-out.txt
lint-out.txt
build-out.txt
README.md
docs
